@page "/admuserinfo"
<PageTitle>Admin User info</PageTitle>

<div class="container my-5">
    <p class="fw-bold" style="font-size: 24px; color: #a91215;">Active users</p>
    <div class="row my-1">
        <div class="col d-flex py-3 px-3 rounded" style="justify-content: space-between; background-color: rgb(190, 190, 190);">
            <p class="my-auto">Navindu Ashen</p>
            <p class="my-auto">navindu158@gmail.com</p>
            <p class="my-auto">200224801369</p>
            <p class="my-auto">0712345678</p>
            <p class="my-auto"><i class="bi bi-trash-fill" style="color: white; font-size: 24px; cursor: pointer;"></i></p>
        </div>
    </div>
    <div class="row my-1">
        <div class="col d-flex py-3 px-3 rounded" style="justify-content: space-between; background-color: rgb(190, 190, 190);">
            <p class="my-auto">Navindu Ashen</p>
            <p class="my-auto">navindu158@gmail.com</p>
            <p class="my-auto">200224801369</p>
            <p class="my-auto">0712345678</p>
            <p class="my-auto"><i class="bi bi-trash-fill" style="color: white; font-size: 24px; cursor: pointer;"></i></p>
        </div>
    </div>
    <div class="row my-1">
        <div class="col d-flex py-3 px-3 rounded" style="justify-content: space-between; background-color: rgb(190, 190, 190);">
            <p class="my-auto">Navindu Ashen</p>
            <p class="my-auto">navindu158@gmail.com</p>
            <p class="my-auto">200224801369</p>
            <p class="my-auto">0712345678</p>
            <p class="my-auto"><i class="bi bi-trash-fill" style="color: white; font-size: 24px; cursor: pointer;"></i></p>
        </div>
    </div>
</div>

@code {

}
