<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 d-flex flex-column" style="justify-content: space-between;">
                <div>
                    <span class="text-muted">Our Story</span>
                    <h2 class="display-5 fw-bold">About Us</h2>
                    <p class="lead">Join us as we continue to revolutionize the way you book tickets and explore new
                        possibilities.</p>
                </div>
                <img class="img-sofa3" id="isvcn" width="50%" src="Assets/Logo.png">
            </div>
            <div class="col-md-6 offset-md-1">
                <p class="lead">Welcome to CeylonEvents, your ultimate destination for seamless and convenient
                    ticket bookings. Whether it’s travel, events, or entertainment, we make it easy for you to find and
                    book tickets with just a few clicks.</p>
                <p class="lead">Our mission is to bring you closer to the events and experiences you love while ensuring
                    a smooth booking experience. Since our launch, we have grown into a trusted platform for thousands
                    of customers, making every journey and event memorable.</p>
            </div>
        </div>
    </div>
</section>

@code {

}
