<style>
    .interior_13 * {
        font-family: Nunito, sans-serif;
    }

    .interior_13 .text-blk.section-head {
        line-height: 45px;
        font-size: 36px;
        font-weight: 900;
        color: #efbe00;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }

    .interior_13 .text-blk {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        line-height: 25px;
        font-size: 16px;
    }

    .interior_13 a {
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: initial;
        text-decoration-color: initial;
        color: inherit;
    }

    .interior_13 .responsive-cell-block {
        min-height: 75px;
    }

    .interior_13 .responsive-container-block {
        min-height: 75px;
        height: fit-content;
        width: 100%;
        display: flex;

    }

    .interior_13 .img-sofa3 {
        width: 100%;
    }

    .interior_13 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-12.wk-desk-6 {
        margin-top: 50px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }

    .interior_13 .card-content {
        padding-top: 0px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 0px;
        height: 100%;
    }

    .interior_13 .text-blk.sub-head {
        font-size: 22px;
        line-height: 35px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }

    .interior_13 .input {
        width: 70%;
        border-top-width: 2px;
        border-right-width: 2px;
        border-left-width: 2px;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        border-top-color: #767676;
        border-right-color: #767676;
        border-left-color: #767676;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: #a91215;
        height: 50px;
        padding-top: 1px;
        padding-right: 2px;
        padding-bottom: 1px;
        padding-left: 10px;
        background-color: transparent;
    }

    .interior_13 .form-box {
        display: flex;
        justify-content: space-between;
    }

    .interior_13 .submit-btn {
        width: auto;
        background-color: #f8f8f8;
        padding-top: 1px;
        padding-right: 30px;
        padding-bottom: 1px;
        padding-left: 30px;
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-color: #767676;
        border-right-color: #767676;
        border-bottom-color: #767676;
        border-left-color: #767676;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        font-size: 18px;
        font-weight: 700;
        height: 50px;
    }

    .interior_13 .orange-card {
        background-color: #fddfdf;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }

    .interior_13 .responsive-container-block.big-container {
        position: relative;
        padding: 0 0 0 0;
    }
    .submitBtn {
        transition: 0.3s ease;
    }

    .submitBtn:hover {
        background-color: #cb1518 !important;
    }
</style>

<div class="interior_13 my-5">
    <div class="responsive-container-block big-container">
        <div class="responsive-container-block container">
            <div class="responsive-container-block">
                <div class="orange-card">
                </div>
                <div class="container responsive-cell-block wk-tab-12 wk-mobile-12 wk-ipadp-12 wk-desk-6" id="i7wk">
                    <div class="card-content d-flex flex-column" style="justify-content: space-between;">
                        <div>
                            <p class="text-blk section-head" style="color: #a91215;">
                                GET IN TOUCH
                            </p>
                            <p class="text-blk sub-head">
                                We’re here to help with any questions, issues, or inquiries you may have. Whether you need assistance with bookings, payments, or anything else, feel free to reach out to us!
                            </p>
                        </div>

                        <form class="form-box d-flex" style="align-items: end;">
                            <input class="input" name="Email" placeholder="Your Email">
                            <a class="btn fw-semibold submitBtn"
                                style="width: 25%; height: 40px; background-color: #a91215; color: white; cursor: pointer;">
                                <div>
                                    <p>Submit</p>
                                </div>
                            </a>
                        </form>
                    </div>
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-ipadp-12 wk-desk-6 img-one" id="iwgx">
                    <img class="img-sofa3" id="isvcn" height="100%" src="Assets/Logo_full_transparent.png">
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
