@using Microsoft.AspNetCore.Components.Authorization
@using frontend.Clients
@inject IToastService toastService
@inject NavigationManager NavigationManager
@inject UserClient UserClient

@rendermode InteractiveServer

<style>
    .loginBtn {
        transition: 0.3s ease;
    }

    .loginBtn:hover {
        box-shadow: 0px 0px 0px 0px !important;
        background-color: #b61316 !important;
    }

    .navBarLink {
        transition: 0.3s ease !important;
    }

    .navBarLink:hover {
        color: #a91215 !important;
    }
</style>

<nav class="navbar navbar-expand-lg"
    style="height: 93px; background-color: white; box-shadow: 0px 2px 10px 0px #929292; position: relative; z-index: 5; top: 0;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="Assets/Logo.png" width="272px" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex" style="justify-content: space-between;" id="navbarNav">
            <ul class="navbar-nav" style="gap: 8px; margin-left: auto; margin-right: auto; ">
                <li class="nav-item">
                    <a class="nav-link navBarLink fw-semibold" style="font-size: 16px; color: #aaaaaa;" aria-current="page"
                        href="#events" >Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navBarLink fw-semibold" style="font-size: 16px; color: #aaaaaa;" href="#cat">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navBarLink fw-semibold" style="font-size: 16px; color: #aaaaaa;" href=" #contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navBarLink fw-semibold" style="font-size: 16px; color: #aaaaaa;" href=" #about">About</a>
                </li>
            </ul>
            <AuthorizeView>
                <NotAuthorized>
                    <ul class="navbar-nav ms-5" style="gap: 16px;">
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 16px; font-weight: bold;"
                                href="/register">Register</a>
                        </li>
                        <li class="nav-item loginBtn"
                            style="background-color: #a91215; border-radius: 5px; box-shadow: 0px 1px 5px 0px #5e5e5e; ">
                            <a class="nav-link px-5" style="font-size: 16px; color: white; font-weight: bold;"
                                href="/login">Login</a>
                        </li>
                    </ul>
                </NotAuthorized>
                <Authorized>
                    @if (Role == "Buyer")
                    {
                        <ul class="navbar-nav ms-5" style="gap: 16px;">
                            <li class="nav-item loginBtn"
                                style="background-color: #a91215; border-radius: 5px; box-shadow: 0px 1px 2px 0px #5e5e5e; ">
                                <a class="nav-link px-5" style="font-size: 16px; color: white; font-weight: bold;"
                                    href="/profile">User Profile</a>
                            </li>
                        </ul>
                    }
                    else if (Role == "Admin")
                    {
                        <ul class="navbar-nav ms-5" style="gap: 16px;">
                            <li class="nav-item loginBtn"
                                style="background-color: #a91215; border-radius: 5px; box-shadow: 0px 1px 2px 0px #5e5e5e; ">
                                <a class="nav-link px-5" style="font-size: 16px; color: white; font-weight: bold;"
                                    href="/admprofile">Admin Profile</a>
                            </li>
                        </ul>

                    }
                    else if (Role == "Organiser")
                    {
                        <ul class="navbar-nav ms-5" style="gap: 16px;">
                            <li class="nav-item loginBtn"
                                style="background-color: #a91215; border-radius: 5px; box-shadow: 0px 1px 2px 0px #5e5e5e; ">
                                <a class="nav-link px-5" style="font-size: 16px; color: white; font-weight: bold;"
                                    href="/orgprofile">Organizer Profile</a>
                            </li>
                        </ul>

                    }
                </Authorized>
            </AuthorizeView>

        </div>
    </div>
</nav>

@code {
    private bool IsLogged = false;
    private string Role = "";
    protected override async Task OnInitializedAsync()
    {
        IsLogged = await UserClient.IsUserLogged();
        if (IsLogged)
        {
            Role = await UserClient.GetCurrentUserType();
            Console.WriteLine("Role: " + Role);
            if (Role == "Invalid role")
            {
                toastService.ShowError("Invalid login. Please contact the administration.");
                NavigationManager.NavigateTo("/logout");
            }
        }
    }

    public void NavbarRefresh()
    {
        NavigationManager.Refresh();
        Console.WriteLine("Refreshed...........");
    }

}
