@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<style>
    .cardContainer {
        transition: 0.3s ease;
    }

    .cardContainer:hover {
        box-shadow: 0px 2px 2px 0px #0000006e !important;
    }
</style>

<div style="margin-bottom: 120px; cursor: pointer;" @onclick="@(()=>NavigationManager.NavigateTo("/orgevent"))">
    <div class="row rounded cardContainer" style="box-shadow: 0px 2px 5px 2px #0000006e;">
        <div class="col">
            <center style="margin-top: -100px !important;">
                <img src="@CardImgUrl" class="img-fluid rounded" style="
                width: 222px;
                box-shadow: 0px 2px 5px 2px #0000006e;

              " alt="..." />
            </center>

            <h5 class="text-danger fw-bold text-center pt-3 pb-3">
                @EventName
            </h5>
        </div>
        <div class="col d-flex flex-column" style="justify-content: space-around;">
            <div>
                <div class="d-flex align-items-center my-2">
                    <img src="Assets/Calendar.png" width="24px" height="24px" alt="" />
                    <p class="text-danger fw-semibold ps-2 m-0">@Date</p>
                </div>
                <div class="d-flex align-items-center my-2">
                    <img src="Assets/Square Clock.png" width="24px" height="24px" alt="" />
                    <p class="text-danger fw-semibold ps-2 m-0">@Time</p>
                </div>
                <div class="d-flex align-items-center">
                    <img src="Assets/Address.png" width="24px" height="24px" alt="" />
                    <p class="ps-2 m-0" style="font-size: 10px">
                        @Location
                    </p>
                </div>
            </div>
            <div class="d-flex" style="gap: 5px;">
                @if (verified)
                {
                    <div class="rounded d-flex" style="width: 100%; height: 40px; background-color: #17a912; ">
                        <p class="fw-semibold text-center m-auto" style="color: white;">Verified</p>
                    </div>
                }
                else
                {
                    <div class="rounded d-flex" style="width: 100%; height: 40px; background-color: #a91215; ">
                        <p class="fw-semibold text-center m-auto" style="color: white;">Pending</p>
                    </div>

                }

                <img src="Assets/Logo_half_transparent.png"
                    style="position: absolute; margin-top: -120px; height: 40px; margin-left: 260px; " />
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public required bool Verified { get; set; }
    [Parameter]
    public required string EventName { get; set; }
    [Parameter]
    public required string Date { get; set; }
    [Parameter]
    public required string Time { get; set; }
    [Parameter]
    public required string Location { get; set; }
    [Parameter]
    public required string CardImgUrl { get; set; }

    private bool verified = false;

    protected override void OnParametersSet()
    {
        verified = Verified;
    }



}
