@page "/eventprw"
@inject NavigationManager NavigationManager

<PageTitle>Event</PageTitle>

<style>
    * {
        box-sizing: border-box;
    }

    .topContainer {
        background-image: url("Assets/flyer2.png");
        background-size: cover;
        background-position: center;
    }

    .bookNowBtn {
        transition: 0.3s ease;
    }

    .bookNowBtn:hover {
        background-color: #cb1518 !important;
    }
</style>

<div class="topContainer d-flex" style="width: 100%; height: 245px; background-color: #d9d9d9;">
</div>
<div style="background-color: white; z-index: 2; position: relative;">
    <div class="container mb-5" style=" ">
        <div class="row">
            <div class="col-5">
                <center style="margin-top: -150px;">
                    <img src="Assets/flyer2.png" width="425px" alt="">
                </center>
            </div>
            <div class="col">
                <p class="fw-bold" style="font-size: 40px; color: #a91215;">Lakshapana Waterfall Rope Swing Jump</p>
                <div class="d-flex" style="gap: 32px;">
                    <div class="d-flex align-items-center my-2">
                        <img src="Assets/Calendar.png" width="24px" height="24px" alt="" />
                        <p class="text-danger fw-semibold ps-2 m-0">13, September 2024</p>
                    </div>
                    <div class="d-flex align-items-center my-2">
                        <img src="Assets/Square Clock.png" width="24px" height="24px" alt="" />
                        <p class="text-danger fw-semibold ps-2 m-0">7:00 PM</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="Assets/Location.png" width="24px" height="24px" alt="" />
                        <p class="ps-2 m-0 text-danger">
                            Ceylonica Beach Hotel Negombo
                        </p>
                    </div>
                </div>
                <div class="d-flex mt-5" style="gap: 5px;">
                    <a class="btn fw-semibold bookNowBtn" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        style="width: 100%; height: 40px; background-color: #a91215; color: white; cursor: default;">
                        <div class="d-flex px-3" style="justify-content: space-between;">
                            <p>15,000 LKR <small style="font-weight: 500; font-size: 10px;"> ( per person )</small></p>
                            <p>5 tickets</p>
                        </div>
                    </a>
                    <a class="btn fw-semibold bookNowBtn" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        style="width: 25%; height: 40px; background-color: #a91215; color: white; cursor: default;">
                        <div class="d-flex px-3" style="justify-content: center;">
                            <p>QR</p>
                        </div>
                    </a>
                    <img src="Assets/Logo_half_transparent.png"
                        style="height: 40px;margin-bottom: 10px; margin-right: 18px; " />
                </div>
            </div>
        </div>
        <p class="fw-bold mt-3" style="font-size: 40px; color: #a91215;">Description</p>
        <p style="font-size: 16px; color: #000000;">Come, have fun, and make unforgettable memories with your family,
            friends, and loved ones!</p>
        <p style="font-size: 16px; color: #000000; margin-top: -15px;">Come, have fun, and make unforgettable memories
            with
            your family, friends, and loved ones!</p>
    </div>
</div>

<div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="justify-content: space-between;">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Your Ticket</h1>
            </div>
            <div class="modal-body" style="margin: auto; ">
                <img src="Assets/qr.png" style="margin: auto; display: flex;" width="450px" alt="">
                <p class="text-center fw-semibold my-3 pe-none" style="font-size: 20px;">Lakshapana Waterfall Rope Swing Jump</p>
                <div class="d-flex" style="justify-content: space-between;">
                    <img src="Assets/Logo.png" width="50%" alt="">
                    <img src="Assets/verfied.jpg" width="200px" alt="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {

}
