@page "/event"

<PageTitle>Event</PageTitle>

<style>
    * {
        box-sizing: border-box;
    }

    .topContainer {
        background-image: url("Assets/flyer2.png");
        background-size: cover;
        background-position: center;
    }

    .bookNowBtn {
        transition: 0.3s ease;
    }

    .bookNowBtn:hover {
        background-color: #cb1518 !important;
    }
</style>

<div class="topContainer d-flex" style="width: 100%; height: 245px; background-color: #d9d9d9;">
</div>
<div style="background-color: white; z-index: 2; position: relative;">
    <div class="container mb-5" style=" ">
        <div class="row">
            <div class="col-5">
                <center style="margin-top: -150px;">
                    <img src="Assets/flyer2.png" width="425px" alt="">
                </center>
            </div>
            <div class="col">
                <p class="fw-bold" style="font-size: 40px; color: #a91215;">Lakshapana Waterfall Rope Swing Jump</p>
                <div class="d-flex" style="gap: 32px;">
                    <div class="d-flex align-items-center my-2">
                        <img src="Assets/Calendar.png" width="24px" height="24px" alt="" />
                        <p class="text-danger fw-semibold ps-2 m-0">13, September 2024</p>
                    </div>
                    <div class="d-flex align-items-center my-2">
                        <img src="Assets/Square Clock.png" width="24px" height="24px" alt="" />
                        <p class="text-danger fw-semibold ps-2 m-0">7:00 PM</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="Assets/Location.png" width="24px" height="24px" alt="" />
                        <p class="ps-2 m-0 text-danger">
                            Ceylonica Beach Hotel Negombo
                        </p>
                    </div>
                </div>
                <div class="d-flex mt-5" style="gap: 5px;">
                    <a class="btn fw-semibold bookNowBtn" href="/checkout"
                        style="width: 100%; height: 40px; background-color: #a91215; color: white;">
                        <div class="d-flex px-3" style="justify-content: space-between;">
                            <p>15,000 LKR <small style="font-weight: 500; font-size: 10px;"> ( per person )</small></p>
                            <p>Book Now</p>
                        </div>
                    </a>
                    <img src="Assets/Logo_half_transparent.png"
                        style="height: 40px;margin-bottom: 10px; margin-right: 18px; " />
                </div>
            </div>
        </div>
        <p class="fw-bold mt-3" style="font-size: 40px; color: #a91215;">Description</p>
        <p style="font-size: 16px; color: #000000;">Come, have fun, and make unforgettable memories with your family,
            friends, and loved ones!</p>
        <p style="font-size: 16px; color: #000000; margin-top: -15px;">Come, have fun, and make unforgettable memories
            with
            your family, friends, and loved ones!</p>
    </div>
</div>

@code {
    
}
